<table [style.border]="produkt.czyPromocja ? '2px solid red' : '1px solid black'"
       [style.backgroundColor]="produkt.czyPromocja ? '#ffe5e5' : 'white'">
  <tr>
    <th>Nazwa</th>
    <th>Cena</th>
    <th>Data utworzenia</th>
    <th>Liczba sztuk w koszyku</th>
    <th>Dodaj do koszyka</th>
  </tr>
  <tr>
    <td>{{ produkt.nazwa }}</td>
    <td>{{ produkt.cena | number:'1.2-2' }} zł</td>
    <td>{{ produkt.dataUtworzenia | date:'dd.MM.yyyy' }}r.</td>
    <td>{{ produkt.liczbaSztukWKoszyku }}</td>
    <td><button (click)="dodajDoKoszyka()">Dodaj do koszyka</button></td>
  </tr>
</table>
